/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #FFAA00;
@define-color text #05050A;
@define-color base #3A403B;
@define-color border #05050A;
@define-color foreground #05050A;
@define-color background #3A403B;

@define-color hover #05050A;
@define-color accent #FFAA00;


window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}
