/* ────────────────────────────────────────────────────────────
 * Custom Theme for Waybar
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 12px;
}

@define-color background #0F0F0F;
@define-color foreground #FFAA00;
